.headers-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.headers-title {
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.headers-links {
    display: flex;
    margin: 0;
    align-items: center;
    color: #fff;
    list-style-type: none;
}

.headers-links > li{
    margin-right: 20px;
    font-size: 18px;
}

